body {
    background-color: lightblue;
    padding: 0;
    margin: 0;
}

.A2 {
    width: 100%;
    height: 100vh;
}

td {
    border-collapse: collapse;
    border: 4px solid black;
    width: 50%;
}