body{
    background-color: blueviolet;
}
h2 {
    Text-align:center;
    Color:aqua;
    }
    Img{
    Float :center;
    Height: 50px;
    Width:50px;
    }
    Table{
    Text-align:center;
    }